body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color:#fff;
    font-family: 'Arial', sans-serif;
}

.clock-container {
    text-align: center;
    font-weight: bold;
}

#time {
    font-size: 4rem;
    font-weight: bold;
}
#date {
    font-size: 2rem;
    margin-top: 10px;
}